/* BREADCRUMBS */	
.breadcrumbs h1 {
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight:700;
	font-style: normal;
	font-size: 40px;
	line-height: 49px;
	text-transform: uppercase;
	margin: 0px;
	margin-bottom: 18px;
	padding: 0px;
}

.breadcrumbs-items {	
	display: flex;
	font-family: 'Crimson Text', Georgia, serif;
	font-weight:400;
	font-style: italic;
	font-size: 20px;
	line-height: 25px;
	color: #1E0606;
	margin: 0px;
	padding: 0px;
	padding-bottom: 48px;
}

.breadcrumbs-items a {
	padding-right: 48px;
	position: relative;
}
.breadcrumbs-items a:after {
	content: "";
	display: block;
	width: 8px; height: 12px;
	background-image: url(../images/vector.svg);
	position: absolute;
	bottom: 7px;
	right: 18px;	  
}
.breadcrumbs-items svg {
	background: rgba(30, 6, 6, 0.12);
	transform: matrix(-1, 0, 0, 1, 0, 0);
}
.breadcrumbs-items svg:hover {
	background: #C29974;
	transform: matrix(-1, 0, 0, 1, 0, 0);
}
.breadcrumbs-items svg:active {
	background: #C29974;
	opacity: 0.5;
	transform: matrix(-1, 0, 0, 1, 0, 0);
}
.breadcrumbs-items span {
	opacity: 0.5;
}