

/* SLIDER */
.slider {
	display: flex;
	position: relative;
	height:411px;
	background: #EEE4DB;
	margin-top:69px;
}

.slider-counter {
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight:300;
	font-style: normal;
	font-size: 60px;
	line-height: 73px;
	color: rgba(30, 6, 6, 0.05);
	padding: 0px;
	margin:18px 44px 0 29px;
}

.poster {
	position: absolute;
	right:100px;
	bottom:9px;
}

.slider button {
	outline: none;
	border: 0px;
	padding:0;
	margin:0;
	width:31px;
	height:3px;
	background: #D6CAC2;
}

.slider button:hover,
.slider li:first-child button {
	background: #725F5B;
}
         
.slider button:hover {
	background: #725F5B;
}

.slider ul {
	padding:0px;
	margin: 7px 0 0 27px;
}

.slider li {
	padding: 0;
	margin:-8px 4px 4px 4px;
}

.slider-text h1 {
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight:700;
	font-style: normal;
	font-size: 40px;
	line-height: 110%;
	width: 67%;
	color: #1e0606;
	padding:0px;
	margin: 92px 0 0 0;
}

.slider-text p {
	font-family: 'Crimson Text', Georgia, serif;
	font-weight:400;
	font-style: italic;
	font-size: 20px;
	line-height: 25%;
	color: #1e0606;
	padding: 0px;
	margin: 29px 0 0 0;
}

.slider-btn {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
    background: #000000;    
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight:700;
	font-style: normal;
    font-size: 16px;
    line-height: 22px;
	color: #FFFFFF;
    max-width: 161px;
    width: 100%;
	height: 40px;
    border: none;
    text-transform: uppercase;    
	padding: 0px;
	margin: 29px 0 0 0;
}

.slider-btn:hover {
	background: #C29974;
}

.slider-btn:active {
	background: #CFAF91;
}

.slider-btn:disabled {
	background: #C1C1C1;
	color: #E1E1E1;
}

.slider-footer {
	position: absolute;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	bottom: 0px;
	height: 39px;
	background: #C29974;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight:700;
	font-style: normal;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
	text-transform: uppercase;
}
